@import "bootstrap/bootstrap.less";
@import "bootstrap/bootswatch.less";

#topbar {
	background: #1a1a1a;
}

#top-logo {
	fill: #c7c7c7;
	vertical-align: middle;
	margin-top: -.2em;
}

#small-brand {
	font-size: 2em;
	margin-right: 0.5em;
	padding: .7em;
	letter-spacing: 5px;
}

#small-brand:hover {
	background: none;
}

.logo {
	fill: #1f1f1f;
}

#brand {
	color: #c7c7c7;
	vertical-align: middle;
	font-weight: 400;
	font-size: 52px;
	letter-spacing: 2px;
}

#brand small {
	letter-spacing: 2px;
	margin-top: 0.6em;
	display: block;
	font-size: 18px;
}

header {
	padding-top: 60px;
	padding-bottom: 60px;
	background:  #123;

	.container nav {
		padding-top: 1em;
		.nav {
		font-size: 15px;
	letter-spacing: 2px;
	}
}
}

.position {
	background: #1f1f1f;
	line-height: 50px;
}

#brand-wrapper .container {
	vertical-align: middle;
}

.feature {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 60px;
}

footer {
	margin-top: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #1a1a1a;
	color: #3E3F3A;
	text-align: center;
}

.landing {
	padding-top: 6em;
	padding-bottom: 2em;
}

.profile-logo {
	margin-top: 60px;
}
